.editor {
  position: relative;
}

.text {
  width: 100%;
}

.input {
  transition: height .3s ease;
}

.expandLess {
  position: absolute !important;
  right: .5rem;
  bottom: 1rem;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}