{
  "presets": [
    ["env", {
      // webpack understands the native import syntax, and uses it for tree shaking
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions", "safari >= 8", "android >= 4.4"]
      }
    }],
    "react"
  ],
  "plugins": [
    // Enables React code to work with HMR.
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    // place transform-decorators-legacy before transform-class-properties
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}
