body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Inter UI,sans-serif;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

ol, ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

button {
  border: none;
}

a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.mono-font {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo,Courier, monospace;
}
