@import '../styles/variables.scss';

.search {
  position: relative;
  display: flex;
  height: 2rem;
  align-items: center;
  margin-bottom: 1rem;
  input {
    width: 100%;
    height: 100%;
    padding: 0 2.5rem 0 0.5rem;
    border: 1px solid $border-gray-color;
    transition: all 0.3s;
    &:focus {
      border-color: #ccc;
    }
    &::placeholder {
      font-style: italic;
    }
  }
  button {
    position: absolute;
    right: 0;
    top: 0;
    width: 2rem;
    height: 100%;
    text-align: center;
  }
}

.list {
  padding: 0;
  border: 1px solid $border-gray-color;
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    border-bottom: 1px solid $border-gray-color;
    padding: 0 0.5rem;
    cursor: default;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      .title {
        color: $theme-color;
      }
      .actions {
        opacity: 1;
      }
    }
    .left {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .icon {
      margin: 0 0.5rem;
    }
    .actions {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      opacity: 0.5;
      .action {
        width: 1.5rem;
        padding: 5px;
        font-size: 1rem;
        opacity: 0.7;
        text-decoration: none;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  font-size: 1.2rem;
  border: 1px solid $border-gray-color;
}