@import '../../styles/variables.scss';

.root {
  min-height: 100vh;
}

.intro {
  padding: .5rem 1rem;
  margin: 1rem 0;
}

.socialMedia {
  display: flex;
}

.socialMediaItem {
  margin-right: .5rem;
}
