@import '../../styles/variables.scss';

.event {
  padding: .5rem 1rem;
  margin: .5rem 0;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
  line-height: 1.5;
  font-family: $font-mono;

  &:hover {
    background: $surface-2;
  }
}

.title {
  margin-left: 1rem;
}
