@import '../styles/variables.scss';

.root {
  .overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $overlay-color;
    z-index: $overlay-depth;
  }
  .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: #fff;
    z-index: $overlay-depth;
  }
  .title {
    padding: 1.5rem 1rem 1.25rem;
  }
  .body {
    padding: 0 1rem;
    &.noTitle {
      padding-top: 1.5rem;
    }
    &.noActions {
      padding-bottom: 1.5rem;
    }
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }
}

.entering {

}
.entered {

}
.exiting {

}
.exited {

}
