@import '../../styles/variables.scss';

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .25rem .5rem .25rem 1rem;
  margin: .5rem 0;
  background: $surface-1;

  &:hover {
    background: $surface-2;
  }
}

.typeIcon {
  flex: none;
  margin-right: 0.5rem;
}

.archiveInfo {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  width: 100%;

  & > * {
    margin-right: 0.5rem;
  }
}

.actions {
  flex: none;
}

.download, .delete {
  padding: .5rem;
  cursor: pointer;
  color: #999;
  background: transparent;

  &:hover {
    color: inherit;
  }
}
