@import '../../styles/variables.scss';

.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem .5rem .5rem 1rem;
  margin: .5rem 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.typeIcon {
  flex: none;
  margin-right: 0.5rem;
}

.archiveInfo {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  width: 100%;

  & > * {
    margin-right: 0.5rem;
  }
}

.actions {
  flex: none;
}

.download, .delete {
  height: 100%;
  padding: 0 .5rem;
  cursor: pointer;
  color: #999;
  background: transparent;

  &:hover {
    color: inherit;
  }
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  background: hsl(130, 60%, 60%);
  transition: all .2s;
  z-index: -10;

  &.start {
    min-width: 2rem;
  }
}
