@import '../../styles/variables.scss';

.root {
  max-width: $small;
  width: 100%;
  margin: auto;
  white-space: nowrap;
}

.uploader {
  width: 100%;
  margin: 1rem auto;
  cursor: pointer;
}

.archiveList {
  width: 100%;
  margin: 1rem auto;
}