@import '../../styles/variables.scss';

.root {
  width: 100%;
  max-width: 1000px;
  padding: 1rem 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  white-space: nowrap;
}

.uploader {
  flex: 2;
  width: 100%;
  min-width: 300px;
  margin: 1rem;
  cursor: pointer;
}

.archiveList {
  flex: 3;
  width: 100%;
  min-width: 300px;
  min-height: 10rem;
  margin: 1rem;
  border: 1px solid #eee;
}