@import '../../styles/variables.scss';

.dropZone {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6rem;
  padding: 1rem;
  border: 2px dashed $gray-400;
  margin: 0 auto 1rem;
  text-align: center;
  transition: all .3s;
  cursor: pointer;
}

.dropZoneHover {
  border: 2px dashed $gray-200;
  background: $surface-2;
}

.uploaderList {
  margin: 1rem auto;
}
