.root {
  max-width: 768px;
  margin: 0 auto 4rem;
}

.meta {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 14px;
}

.categories {
  display: flex;
}

.categoryItem {
  list-style: none;
}

.categoryItemLink {
  color: #6a737d;
}

.title {
  font-size: 20px;
  color: #24292e;
  margin-bottom: 1.5rem;

  &:hover {
    color: #0366d6;
  }
}

.excerpt {

}
