@import '../../styles/variables.scss';

.root {
  max-width: 768px;
  margin: 0 auto 4rem;
}

.meta {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 14px;
}

.time {
  font-family: $font-mono;
}

.categories {
  display: flex;
}

.categoryItem {
  list-style: none;
}

.categoryItemLink {
}

.title {
  font-size: 20px;
  margin-bottom: 1.5rem;

  &:hover {
  }
}

.excerpt {

}
